<div class="login-page">
  <div class="container">
    <div class="row">
      <div
        class="col-xxl-6 col-md-6 col-sm-0 bg-img d-none d-sm-none d-md-block"></div>
      <div class="col-xxl-6 col-md-6 col-sm-12">
        <div
          class="d-flex flex-column justify-content-center align-items-center full-height">
          <div>
            <h2>eMart</h2>
          </div>

          <form [formGroup]="angForm" (ngSubmit)="submit()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email Id</label
              >
              <input
                type="email"
                id="exampleInputEmail1"
                formControlName="email"
                class="form-control"
                placeholder="Email address"
                [ngClass]="{
                  'is-invalid':
                    submitted ||
                    (angForm.controls['email'].touched &&
                      angForm.controls['email'].errors),
                  'is-valid':
                    submitted ||
                    (angForm.controls['email'].touched &&
                      angForm.controls['email'].errors == null)
                }" />

              <div
                *ngIf="submitted || angForm.controls['email'].touched && angForm.controls['email'].errors?.['required']"
                class="invalid-feedback">
                Email Id is required.
              </div>

              <div
                *ngIf="submitted || angForm.controls['email'].touched &&  angForm.controls['email'].errors?.['pattern']"
                class="invalid-feedback">
                Email Id is invalid.
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                formControlName="password"
                placeholder="Password"
                [ngClass]="{'is-invalid': submitted || angForm.controls['password'].touched && angForm.controls['password'].errors?.['required'],'is-valid': submitted || angForm.controls['password'].touched && angForm.controls['password'].errors?.['required'] == null}" />

              <div
                *ngIf="submitted || angForm.controls['password'].touched && angForm.controls['password'].errors?.['required']"
                class="invalid-feedback">
                Password is required.
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!angForm.valid">
                Submit
              </button>
            </div>
            <div class="d-flex justify-content-between mt-3">
              <label (click)="registerUser()">Register User?</label>
              <label (click)="forgotPassword()">Forgot Password?</label>
            </div>
            <div class="d-flex mt-3">
              <label> <i>Email id : test@test.com</i> </label>
            </div>
            <div class="d-flex">
              <label> <i>Password : test</i> </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
